* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.login-container {
  width: 100%;
  height: 100vh;
  background-image: url('/background.png'); /* Ensure image is inside 'public' */
  background-size: cover;
  background-position: center;
}

.navcss{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  
}